#homeSection {
    background-color: #0C5D7B;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#homeSection h1 {
    font-size: 2.5em;
}

#homeImgContainer {
    width: 100vw;
}

#homeImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#homeSection h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFF;
    font-weight: 500;
}

#homeText {
    border: 2px solid red;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}