* {
  margin: 0;
  padding: 0; 
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1{
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFF;
}